@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&display=swap");

.chatbot-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 771px;
  margin: 50px auto;
  max-width: 600px;
  overflow: hidden;
  width: 100%;
}

.chatbot-header {
  background-color: #076633;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
}

.chatbot-header h3 {
  font-size: 24px;
  margin: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  animation: glitch 3s infinite;
}

.chatbot-messages {
  background-color: #f0f0f0;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 20px;
}

.message {
  display: flex;
}

.message p {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: inline-block; /* or display: inline; */
  font-size: 16px;
  padding: 10px 12px;
  max-width: 80%;
  font-family: "Kanit", sans-serif;
  font-weight: 200;
}

.message.bot {
  justify-content: flex-start;
}

.message.bot p {
  background-color: #dcf8c6;
}

.message.user p {
  background-color: #cfe6ff;
}

.message.user {
  justify-content: flex-end;
}

.form {
  background-color: #f0f0f0;
  display: flex;
  padding: 12px 20px;
}

.form input[type="text"] {
  border: none;
  font-size: 16px;
  padding: 12px;
  width: 89%;
  border-radius: 11px;
}
.form input:focus-visible {
  outline: none;
}

.form button {
  background-color: #267e4d;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  margin-left: 12px;
  padding: 12px 16px;
}

.containerInput {
  flex-direction: row;
  display: flex;
  background-color: #fff;
  border-radius: 11px;
  width: 88%;
  align-items: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.containerInput:focus-within {
  outline: -webkit-focus-ring-color auto 1px;
}

.animation-load {
  width: 8.6%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 0px 17px;
  max-width: 80%;
  background-color: #dcf8c6;
}

/* .container-button-down {
  background-color: #b6b6b6;
  position: absolute;
  bottom: 148px;
  z-index: 10;
  right: 571px;
  padding: 10px 12px;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 0px #4a4a4a;
  cursor: pointer;
} */

@keyframes glitch {
  0% {
    opacity: 1;
    transform: none;
  }
  10% {
    opacity: 0;
    transform: skew(-10deg);
  }
  20% {
    opacity: 1;
    transform: none;
  }
  30% {
    opacity: 0;
    transform: skew(10deg);
  }
  40% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
